<div class="container">
  <div class="row title">
    <div class="col-md-6 col-md-offset-3">
      <form ng-submit="postPost(post)">
        <input type="text" class="form-control" placeholder="Post text" required
               data-ng-model="post.text">
        <input type="submit" value="Post" class="btn btn-warning">
      </form>
    </div>
  </div>
</div>